#circles {
	stroke-width: 1.5;
	stroke-opacity: 1;
	fill-opacity: .1;
}
#circles .red {
	stroke: red;
}
#circles .blue {
	stroke: blue;
}
#circles .orange {
	stroke: orange;
}
#circles .green {
	stroke: green;
}
#mbta {
	opacity: .1;
}
.container {
	padding-top: 10px;
}
.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 12px;
  margin-bottom: 25px;
}
.row {
  margin-right: 0px; 
  margin-left: 0px; 
}
#detailVis{
	padding-top:10;
	font-family: 'Open Sans', sans-serif;	
	min-height: 280px;
}
#hero{
	padding: 15px;
}
.location-name {
    border-bottom: thin dotted #ddd;
    padding-bottom: 5px;
}
.restaurants{
	padding-top: 5px;
    min-height: 250px;
    overflow: scroll;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}