#visOptions {
	line-height: 30px;
	padding-bottom: 20px;
	padding-top: 20px;
}
#circle-packing {
	display: none;
}
#circles {
	stroke-width: 1.5;
	stroke-opacity: 1;
	fill-opacity: .1;
}
#mbta {
	opacity: .1;
}
.container {
	padding-top: 10px;
}
.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 12px;
  margin-bottom: 25px;
}
.row {
  margin-right: 0px; 
  margin-left: 0px; 
}
#map{
	padding-top: 5px;
}
.location-name {
    border-bottom: thin dotted #ddd;
    padding-bottom: 5px;
}
.restaurants{
	padding-top: 5px;
    min-height: 250px;
    overflow: scroll;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/* tooltip */
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: #efefef;
  color: 333;
  border-radius: 4px;
  border: 1px solid black;
}
/* Creates a small triangle extender for the tooltip */
/*.d3-tip:after {
  box-sizing: border-box;
  display:  inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}*/
/* Style northward tooltips differently */
/*.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}*/
.tip-details {
  font-size: .8em;
  margin-top: 4px;
  line-height: 1.1em;
}

.mbta-circle, .mbta-circle-legend {
  fill: rgb(31, 119, 180);
  fill-opacity: 0;
  stroke: rgb(31, 119, 180);
  stroke-width: 2.5px;
}
/*.mbta-circle:hover {
  stroke: orangered;
}*/
.review-circle, .review-circle-legend {
  fill: rgb(31, 119, 180);
  fill-opacity: .25;
  stroke: rgb(31, 119, 180);
  stroke-width: 0px;
}
.review-circle:hover {
  fill: orangered;
  fill-opacity: .25;  
}
.leaf circle {
  fill: #ff7f0e;
  fill-opacity: 1;
}

text {
  font: 10px sans-serif;
}
.node {
  stroke: #fff;
  stroke-width: 1.5px;
}


.link {
  stroke: #999;
}
.svg-heatmap {
  background-color: #eee;
}
.brush .extent {
  fill-opacity: .1;
  stroke: #fff;
  shape-rendering: crispEdges;
}
.legend{
  font-size: 36px;
  font-family: 'Inconsolata';
/*  font-family: 'Open Sans', sans-serif;*/
}
.legend-em{
  font-size: 36px;
  font-family: 'Inconsolata';
  font-weight: 700;
/*  font-family: 'Open Sans', sans-serif;*/
}
.legend-sm{
  font-size: 30px;
  font-family: 'Inconsolata';
/*  font-family: 'Open Sans', sans-serif;*/
}
.legend-sm-em{
  font-size: 30px;
  font-family: 'Inconsolata';
  font-weight: 700;
/*  font-family: 'Open Sans', sans-serif;*/
}
.zoom-legend-sm-em{
  font-size: 14px;
  font-family: 'Inconsolata';
  font-weight: 700;
/*  font-family: 'Open Sans', sans-serif;*/
}
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
.scatter-circle {
  fill: rgb(190, 186, 218); /*31, 119, 180*/
  fill-opacity: 1;
  stroke: rgb(31, 119, 180);
  stroke-width: .3px;

}
.brush-circles{
  fill: rgb(190, 186, 218);
  fill-opacity: 1;
  stroke: rgb(31, 119, 180);
  stroke-width: .3px;

}
.rank-rect {
  fill: #eee; /*#c6dcec;*/
}
.heat-rect {
  fill: #337AB7;
}
#anchor {
  position: relative;
}
#scatter-zoom {
  position: absolute;
  left: 30px;
  top: 0px;
}
.border{
  fill-opacity: 0;
  stroke: black;
  stroke-width: 2px;
}
.red {
  fill: red;
  fill-opacity: .5;
  stroke: red;
  stroke-width: 1px;
}
.blue {
  fill: blue;
  fill-opacity: .5;
  stroke: blue;
  stroke-width: 1px;
}
.orange {
  fill: orange;
  fill-opacity: .5;
  stroke: orange;
  stroke-width: 1px;
}
.green {
  fill: green;
  fill-opacity: .5;
  stroke: green;
  stroke-width: 1px;
}
.brush-selected {
  fill: rgb(252, 197, 192);
  fill-opacity: 1;
  stroke: rgb(31, 119, 180);
  stroke-width: .3px;
}
